* {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}


body {
    background-color: #B5A28A;
    margin: 0px;
}


header {
    background-color: #878a5d;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 0px;
    font-family: 'Edu TAS Beginner', cursive;
}

nav {
    background-color: #D4C8B6;
    font-family: 'Edu TAS Beginner', cursive;
    font-size: 20px;
    text-align: center;
    
}

nav a {
    padding: 14px 16px;
    display: inline-block;
    color: #43473e;
    text-decoration: none;
}

nav a:hover {
    background-color: #bdac86;
    color: white;
}

p{
    font-family: 'Edu TAS Beginner', cursive;
}

h2{
    font-family: 'Edu TAS Beginner', cursive;
}

footer {
    background-color: #a8835d;
    color: #444444;
    text-align: center;
    padding: 10px;
}

main {
    padding: 20px;
}

.project{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

  
  .image-combine {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    justify-content: center;
  }
  
  .image-combine img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  /* 新增的樣式 */
  .image-combine img:hover {
    filter: brightness(80%); /* 改變亮度，可自行調整 */
  }
  
  .image-combine img:hover::after {
    content: attr(alt); /* 顯示圖片的 alt 文字 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8); /* 背景顏色，可自行調整 */
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
  }
  
  .card p {
    text-align: center;
    margin-top: 10px;
  }
  
  

.card {
    /*background-color: white;*/
    padding: 20px;
    width: 100%;
    margin: 10px;
    border-radius: 15px;
    background-image: url(image/card_img.jpg);
    background-size: cover;
    text-align: center;
}

.card img{
    display: block;
    margin: 0 auto;
}

.card1 {
    /*background-color: white;*/
    padding: 20px;
    margin: 20px 10px;
    border-radius: 15px;
    background-image: url(image/card_img.jpg);
    background-size: cover;
}

.card1 img{
    display: block;
    margin: 0 auto;
}

.interests-container {
    display: none;
    max-width: 300px;
    margin: 0 auto;
}

.interests-container p {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.interest-text:hover {
    color: #004466; 
    cursor: pointer; 
}

.container {
    padding: 10px auto;
    margin: 100px auto;
    width: 80%;
    text-align: center;
  }

  .text1{
    font-family: 'Edu TAS Beginner', cursive;
    color: white;
  }

  h3{
    font-family: 'Edu TAS Beginner', cursive;
  }

  .progress2 {
    padding: 6px;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  }

  .progress-bar1 {
    height: 18px;
    border-radius: 15px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    transition: 0.4s linear;
    transition-property: width, background-color;
  }
   
  .progress-moved .progress-bar1 {
    width: 75%;
    background-color: #35523c;
    animation: progressAnimation 6s;
  }
   
  .progress-bar2 {
    height: 18px;
    border-radius: 15px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    transition: 0.4s linear;
    transition-property: width, background-color;
  }
   
  .progress-moved .progress-bar2 {
    width: 65%;
    background-color: #35523c;
    animation: progressAnimation 6s;
  }

  .progress-bar3 {
    height: 18px;
    border-radius: 15px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    transition: 0.4s linear;
    transition-property: width, background-color;
  }
   
  .progress-moved .progress-bar3 {
    width: 80%;
    background-color: #35523c;
    animation: progressAnimation 6s;
  }
   
@keyframes progressAnimation {
    0% {
      width: 5%;
      background-color: #cada72;
    }
    100% {
      width: 80%;
      background-color: #35523c;
    }
  }


.self{
    font-family: 'Edu TAS Beginner', cursive;
}
.internship_img{
    width: 60%;
    height: 80%;
}

.info-box {
    display: none;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1;
  }
  
  .show-info:hover + .info-box {
    display: block;
  }
  


article {
    float: left;
    width: 73%;
}

aside {
    float: right;
    width: 25%;
    text-align: center;
}

.buttom_img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  



.clearfix {
    clear: both;
}

@media screen and (max-width:800px) {

    article,
    aside {
        float: none;
        width: 100%;
    }

    .card {
        padding: 10px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    image {

        max-width: 50%;
        height: auto;

    }

    .button_img3{
        max-width: 50px;
        height: auto;
    }
}