* {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}


body {
    background-color: #B5A28A;
    margin: 0px;
}

header {
    background-color: #878a5d;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 0px;
    font-family: 'Edu TAS Beginner', cursive;
}

nav {
    background-color: #D4C8B6;
    font-family: 'Edu TAS Beginner', cursive;
    font-size: 20px;
    text-align: center;
    
}

nav a {
    padding: 14px 16px;
    display: inline-block;
    color: #43473e;
    text-decoration: none;
}

nav a:hover {
    background-color: #bdac86;
    color: white;
}

h2{
    font-family: 'Edu TAS Beginner', cursive;
}

footer {
    background-color: #a8835d;
    color: #444444;
    text-align: center;
    padding: 10px;
}

main {
    padding: 20px;
}

.card {
    /*background-color: white;*/
    padding: 20px;
    margin: 20px 10px;
    border-radius: 15px;
    background-image: url(image/card_img.jpg);
    background-size: cover;
    text-align: center;
}

.card img{
    display: block;
    margin: 0 auto;
}

.interests-container {
    display: none;
    max-width: 300px;
    margin: 0 auto;
}

.interests-container p {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.interest-text:hover {
    color: #004466; /* 滑鼠懸停時的顏色 */
    cursor: pointer; /* 讓鼠標顯示為手型，表示可以點擊 */
}


.self{
    font-family: 'Edu TAS Beginner', cursive;
}

article {
    float: left;
    width: 73%;
}

aside {
    float: right;
    width: 25%;
    text-align: center;
}

.clearfix {
    clear: both;
}

@media screen and (max-width:800px) {

    article,
    aside {
        float: none;
        width: 100%;
    }

    .card {
        padding: 10px;
        margin: 15px 0px;
    }

    image {

        max-width: 50%;
        height: auto;

    }

}